body {
  font-family: "Inter", sans-serif;
}

.container {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 93px;
}

/* all pages' header */
header {
  background-color: #012426;
  padding: 16px 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  max-width: inherit;
  width: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-bottom: 2px solid #05bcca;
}

.burger,
.x-mark {
  display: none;
}

.menu-list {
  display: flex;
  column-gap: 72px;
}

.menu-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #a1c3c9;
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #05bcca;
  transition: 0.3s;
}

.menu-link:hover::after {
  width: 100%;
}

.header-buttons {
  display: flex;
  column-gap: 32px;
}

.header-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: transparent;
  border: 2px solid #05bcca;
  transition: 0.25s ease;
}

.header-btn:hover {
  transform: translateY(-3px) scale(1.05);
  border-color: #05bcca;
  box-shadow: 0 0 12px rgba(5, 188, 202, 0.6);
  transform: translateY(-3px) scale(1.05);
}

.btn-bg {
  background-color: #05bcca;
  border: none;
}

.btn-bg:hover {
  background-color: #07d6e5;
  box-shadow: 0 0 16px rgba(5, 188, 202, 0.7);
}

/* ------- Home page ------- */

/* home-section1 */

.home-section1 {
  height: 560px;
  padding-top: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-section1-link {
  display: flex;
  align-items: center;
  justify-items: center;
  column-gap: 24px;
  position: relative;
  transition: 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.home-section1-link-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0%;
  display: flex;
  gap: 15px;
  overflow: hidden;
  transition: 0.35s ease;
  text-shadow: 0 0 0 rgba(5, 188, 202, 0);
}

.home-section1-link:hover .home-section1-link-title {
  text-shadow:
    0 0 10px rgba(5, 188, 202, 0.6),
    0 0 20px rgba(5, 188, 202, 0.5),
    0 0 40px rgba(5, 188, 202, 0.35);

  transform: scale(1.05);
}

.home-section1-link::before {
  content: "";
  position: absolute;
  inset: -20px;
  background: radial-gradient(
    circle,
    rgba(5, 188, 202, 0.35) 0%,
    rgba(5, 188, 202, 0) 70%
  );
  opacity: 0;
  transition: 0.4s ease;
  filter: blur(20px);
  pointer-events: none;
}

.home-section1-link:hover::before {
  opacity: 1;
}

.home-section1-title-span1 {
  color: #ffffff;
  opacity: 0;
  transform: translateX(-60px);
  animation: newSlide 0.8s ease forwards;
}

.home-section1-title-span2 {
  color: #05bcca;
  opacity: 0;
  transform: translateX(60px);
  animation: collectionSlide 0.8s ease forwards;
  animation-delay: 0.3s;
}

@keyframes newSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes collectionSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.home-section1-link img {
  animation: arrowFloat 1.4s infinite ease-in-out;
  background-color: #c46a2b;
  width: 36px;
  height: 24px;
  top: 6px;
  left: 311px;
  opacity: 1;
  border-radius: 4px;
}

@keyframes arrowFloat {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

.home-section1-link {
  transition: 0.3s;
}

.home-section1-link:hover {
  transform: scale(1.05);
}

/* home-section2  */

.home-section2 {
  margin: 0 auto;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 74px 96px 74px;
}

.home-section2-p {
  color: #05bcca;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0%;
  border-bottom: 2px solid #05bcca;
  padding-bottom: 8px;
  margin-bottom: 64px;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: titleReveal 0.8s ease forwards;
  position: relative;
  transition: 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.home-section2-p:hover {
  text-shadow:
    0 0 8px rgba(5, 188, 202, 0.6),
    0 0 18px rgba(5, 188, 202, 0.4);
  transform: translateY(-2px);
}

@keyframes titleReveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards-wrapper {
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  width: 100%;
  justify-content: flex-start;
  scroll-behavior: smooth;
}

.cards-wrapper::-webkit-scrollbar {
  height: 8px;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  background: #05bcca;
  border-radius: 10px;
}

.home-section2-article {
  width: min(100%, 298px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 331px;
  border-width: 1px;
  background-color: #2c4246;
  overflow: hidden;
  transition: 0.3s ease;
}

.home-section2-article:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(5, 188, 202, 0.6);
}

.home-section2-cards-text-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home-section2-cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
  transition: 0.5s;
}

.home-section2-article:hover .home-section2-cards {
  transform: scale(1.08);
}

.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #d9d9d9;
  margin-bottom: 16px;
  width: 100%;
}

.card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #05bcca;
  display: inline-block;
}

.card-button {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #c46a2b;
  width: 58px;
  height: 28px;
  border-radius: 4px;
  border: none;
  transition: 0.25s;
}

.card-button:hover {
  background: #e07b32;
  transform: scale(1.05);
}

/* all pages' footer  */

footer {
  background-color: #2c4246;
  padding-block: 48px;
  display: flex;
  justify-content: center;
  column-gap: 183px;
}

.footer-list,
.footer-address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-list-p {
  font-weight: 400;
  color: #d9d9d9;
  font-style: Regular;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 24px;
  transition: 0.3s;
}

.footer-list-link {
  font-style: Regular;
  color: #d9d9d9;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  transition: 0.3s;
}

.footer-list-link:hover {
  color: #05bcca;
  transform: translateX(4px);
}

.social-list {
  display: flex;
  column-gap: 16px;
  perspective: 800px;
}

.social-list img {
  transition: 0.35s ease;
  transform-origin: bottom left;
}

.social-list img:hover {
  transform: rotateX(14deg) rotateY(-20deg) translateY(-6px);
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.35));
}

/* ------- Catalog page ------- */

/* catalog section */
.catalog-section {
  background-color: #012426;
  padding: 96px 94px;
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.filter span {
  font-size: 24px;
  font-weight: 700;
  color: #d9d9d9;
}

.sort {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.sort span {
  color: #d9d9d9;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.sort select {
  background: #a1c3c9;
  color: #2c4246;
  border: none;
  border-radius: 4px;
  width: 160px;
  padding: 6px 10px;
  cursor: pointer;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

.catalog-card {
  background: #2c4246;
  overflow: hidden;
  transition: 0.35s;
}

.catalog-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(5, 188, 202, 0.5);
}

.catalog-card > img {
  width: 100%;
  height: 298px;
  object-fit: cover;
  transition: 0.5s;
}

.catalog-card:hover > img {
  transform: scale(1.08);
}

.catalog-card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-card-info h3 {
  font-size: 16px;
  font-weight: 700;
  color: #d9d9d9;
  margin: 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottom span {
  font-size: 16px;
  color: #05bcca;
}

/* cart */

.cart-mini {
  background: #c46a2b;
  width: 27px;
  height: 27px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.cart-mini:hover {
  transform: translateY(-3px) scale(1.08);
  background: #e37a32;
}

.cart-mini img {
  width: 23px;
  height: 23px;
  object-fit: contain;
}

/* pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 64px 0;
}

.page-btn {
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  font-size: 16px;
  color: #d9d9d9;
  transition: 0.25s;
}

.page-btn.prev {
  background: #c46a2b;
}

.page-btn.next {
  background: #05bcca;
}

.page-btn:hover {
  transform: translateY(-2px);
}

.pagination span {
  color: #fff;
}

/* ------- Contact Us page -------*/

main {
  margin: auto;
  padding: 140px 201px;
  background-image: url(../images/cover3.png);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.contact-wrapper {
  padding: 32px;
  border-radius: 10px;
  border: 1px solid #05bcca;
  background-color: #2c4246cc;
  display: flex;
  column-gap: 40px;
}

.contact-form {
  width: 440px;
}

.contact-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 64px;
  letter-spacing: 4px;
  position: relative;
  display: inline-block;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.contact-form-row {
  display: flex;
  column-gap: 60px;
}

input {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  background-color: transparent;
  padding-inline: 8px;
  color: #b4ecf0;
}

::placeholder {
  font-size: 14px;
  color: #ffffff;
}

.contact-message-box {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

textarea {
  height: 96px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding-inline: 8px;
  background-color: transparent;
  color: #b4ecf0;
  resize: none;
}

.contact-submit-btn {
  font-size: 16px;
  color: #ffffff;
  background-color: #c46a2b;
  width: 440px;
  height: 56px;
  border-radius: 10px;
  border: none;
}

.contact-submit-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(226, 126, 54, 0.662);
  transition: 0.4s;
}

.contact-map {
  width: 494px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  align-items: center;
}

.contact-info-icons {
  display: flex;
  column-gap: 72px;
}

.contact-icon-link {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #05bcca;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.contact-icon-link:hover {
  transform: translateY(-6px) rotate(-6deg) scale(1.05);
  box-shadow:
    0 12px 25px rgba(5, 188, 202, 0.4),
    0 0 10px rgba(255, 255, 255, 0.25) inset;
  background-color: #07d6e5;
}

iframe {
  width: 100%;
  height: 264px;
  object-fit: cover;
  border-radius: 10px;
}
